In [1]:
import pandas as pd

In [7]:
xtb_cols = ['GFN2_TOTAL_ENERGY', 'GFN2_ATOMIC_ENERGY', 'GFN2_FORMATION_ENERGY', 'GFN2_HOMO_ENERGY', 'GFN2_LUMO_ENERGY',
            'GFN2_ROT_CONSTANT_A', 'GFN2_ROT_CONSTANT_B', 'GFN2_ROT_CONSTANT_C', 'GFN2_DIPOLE_X', 'GFN2_DIPOLE_Y',
            'GFN2_DIPOLE_Z', 'GFN2_DIPOLE_TOT']
dft_cols = ['DFT' + s[4:] for s in xtb_cols]

In [2]:
df_qmugs = pd.read_csv('...')

In [4]:
train_8k_indices = pd.read_csv('data_indices/train_8K.csv')
val_1k_indices = pd.read_csv('data_indices/val_1K.csv')
test_1k_indices = pd.read_csv('data_indices/test_1K.csv')

In [5]:
train_8k_indices

       index      chembl_id  conf_id
0     364495  CHEMBL3659893  conf_01
1      24295   CHEMBL120563  conf_00
2     126188   CHEMBL185198  conf_02
3     587334    CHEMBL44814  conf_01
4     549961    CHEMBL41597  conf_02
...      ...            ...      ...
7995  491661  CHEMBL3956318  conf_00
7996  515797   CHEMBL403844  conf_01
7997  552733  CHEMBL4166555  conf_02
7998  558449  CHEMBL4202895  conf_02
7999  643822   CHEMBL600132  conf_02

[8000 rows x 3 columns]

In [13]:
df_train = df_qmugs.merge(train_8k_indices, on=['chembl_id', 'conf_id'])[['SMILES'] + xtb_cols + dft_cols]
df_val = df_qmugs.merge(val_1k_indices, on=['chembl_id', 'conf_id'])[['SMILES'] + xtb_cols + dft_cols]
df_test = df_qmugs.merge(test_1k_indices, on=['chembl_id', 'conf_id'])[['SMILES'] + xtb_cols + dft_cols]

In [16]:
len(df_train)

8000

In [18]:
len(df_val)

1000

In [19]:
len(df_test)

1000

In [15]:
df_train.to_csv('.../train_8K.csv', index=False)
df_val.to_csv('.../val_8K.csv', index=False)
df_test.to_csv('.../test_8K.csv', index=False)